/* Reset básico */
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ul,
ol,
li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* Evita que elementos inline criem espaços extras */
img,
span {
  display: inline-block;
}

/* Define a largura e altura padrão para imagens */
img {
  width: auto;
  height: auto;
}

/* Remove a decoração padrão dos links */
a {
  text-decoration: none;
}

/* Define a cor padrão dos links */
a:link,
a:visited {
  color: #007bff;
}

/* Define a cor dos links quando passa o mouse por cima */
a:hover,
a:focus {
  color: #0056b3;
}

/* Remove os bullets padrão das listas */
ul,
ol {
  list-style: none;
}

/* Torna o elemento body ocupar toda a altura da janela */
html,
body {
  height: 100%;
}

/* Define uma altura mínima para o elemento body */
body {
  min-height: 100vh;
}

/* Estilização básica para as tags de cabeçalho */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* Estilização básica para parágrafos */
p {
  line-height: 1.6;
}

/* Adiciona uma borda-box como modelo de caixa */
* {
  box-sizing: border-box;
}
